<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WebApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BaseDatosConnectionString3" connectionString="Data Source=tcp:serverhector.database.windows.net,1433;Initial Catalog=BaseDatos;Persist Security Info=True;User ID=hector@serverhector;Password=kukorules009*" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <httpRuntime />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Inicio.aspx" timeout="30">
        <credentials passwordFormat="MD5"></credentials>
      </forms>
    </authentication>
  </system.web>
  <appSettings />
  <!-- Permisos para vadillo en ExportarTareas-->
  <location path="ExportarTareas.aspx">
    <system.web>
      <authorization>
        <allow users="vadillo" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- Permisos para paginas de alumnos-->
  <location path="TareasAlumno.aspx">
    <system.web>
      <authorization>
        <allow users="profesor" />
        <allow users="vadillo" />
        <allow users="alumno" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Alumno.aspx">
    <system.web>
      <authorization>
        <allow users="profesor" />
        <allow users="vadillo" />
        <allow users="alumno" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="InstanciarTarea.aspx">
    <system.web>
      <authorization>
        <allow users="profesor" />
        <allow users="vadillo" />
        <allow users="alumno" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- Permisos para paginas de profesor-->
  <location path="TareasProfesor.aspx">
    <system.web>
      <authorization>
        <allow users="profesor" />
        <allow users="vadillo" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ImportarTareasXML.aspx">
    <system.web>
      <authorization>
        <allow users="profesor" />
        <allow users="vadillo" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="InsertarTarea.aspx">
    <system.web>
      <authorization>
        <allow users="profesor" />
        <allow users="vadillo" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Profesor.aspx">
    <system.web>
      <authorization>
        <allow users="profesor" />
        <allow users="vadillo" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <applicationSettings>
    <WebApplication1.My.MySettings>
      <setting name="WebApplication1_matriculado_Matriculas" serializeAs="String">
        <value>http://ehusw.es/jav/ServiciosWeb/comprobarmatricula.php</value>
      </setting>
    </WebApplication1.My.MySettings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebService1Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50139/WebService1.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebService1Soap" contract="ServiceReference1.WebService1Soap"
        name="WebService1Soap" />
    </client>
  </system.serviceModel>
</configuration>